@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* fonts */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* colors */

/* dark - 02 */
.text-gray{
    color: #424242;
}

/* dark - 03 */
.text-light-gray{
    color: #727272;

}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
    
}




/* shared styles */
.flexx{
    display: flex;
}

main{
    max-width: 1440px;
    margin: 0 auto;

}
/* shared styles ended*/



/* navbar related styles */
.navbar{

    justify-content: space-between;
    padding: 0 auto;
    align-items: center;
}

.navbar ul{
    list-style: none;
    gap: 25px;
}

.navbar ul a{
    text-decoration: none;
}
.nav-item{
    font-weight: 400;
}


.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.brand{
    font-weight: bold;
    font-size: 2rem;
}


/* banner styling */
.banner{
    text-align: center;
    width: 100%;
}

.banner-image{
    width: 100%;
}

.banner-writings{
   
    /* max-width: 650px; */
    margin: 0 auto;
    margin-bottom: 20px;
}


.banner-heading{
    /* border: 1px solid black; */
    font-size: 4rem;
    align-items: center;
    max-width: 650px;
    margin: auto;
    margin-bottom: 20px;

}

.banner-subheading{
    /* border: 1px solid black; */
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 1rem;
}

.common-button{
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 15px;
}


/* navbar related styles ended */



/* quicklist related styles*/
.quicklist{
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 1440px;
    margin: 130px auto;
}
.quicklist-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    border: 10px;

}
.qheading{
    font-size: 3rem;
}
.quicklist-text{
    
    /* border: 1px solid black; */
    margin-left: 130px;
    max-width: 530px;
    
}
.quick-list{
    font-weight: 500;
    
}
.of-ours{

}
.features{
    color: #FF900E;
}
/* quicklist related styles ended*/










/* Fact style start */
.some-fact{
    font-size: 3rem;
    font-weight: bold;
}
.somefactsub{
    max-width: 550px;
    font-size: 1rem;
}
.fact-container{
   
    display: flex;
    justify-content: space-around;
    padding: 30px;

    
}
.fact{
    border: 1px solid orange;
    max-width: 250px;
    max-height: 250px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;


}
.fact-image{
    max-width: 2.75rem;
    max-height: 2.75rem;
}
.fact-heading{
    font-size: 3rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-subheading{
    font-size: 1.25rem;
    font-weight: 600;
}
/*  */


/* sponsor styling start */
.sponsor-text{
    max-width: 540px;
    margin: 0 auto;
    text-align: center;

}
.sponsor-heading{
    font-size: 2rem;
    margin-bottom: 20px;
}
.sponsor-subheading{
    font-size: 1rem;
    color: #727272;
    margin-bottom: 50px;
}
.sponsors-images{
    display: flex;
    gap: 150px;
    filter: grayscale(100%);
}
/* .sponsor-img{
    border: 1px solid black;
} */














/*  */



/* for mobile */
@media screen and (max-width: 576px) {
    .navbar, .banner, .quicklist{
        flex-direction: column;
        align-items: center;

    }
    .quicklist-text{
       margin: auto;
       max-width: 300px;
    }

    .quicklist-images{
        grid-template-columns: repeat(1, 1fr);
    }

    .fact-container{
        flex-direction: column;
        justify-items: center;
        gap: 24px;
        margin-left: 20px;

 
    }
    .some-fact, .somefactsub{
        margin-left: 30px;
        max-width: 300px;
    }
    .sponsors-images{
        flex-direction: column;
        max-width: 150px;
        max-height: 50px;
        margin: 0 auto;
        gap: 30px;
    }
}